name: Run tests

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  run-tests:
    name: Run tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        channel: [latest/edge, latest/edge/strict]

    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install python3-setuptools
          sudo pip3 install --upgrade pip
          sudo pip3 install -U pytest
      - name: Running addons tests
        run: |
          set -x
          sudo snap install microk8s --classic --channel=${{ matrix.channel }}
          sudo microk8s status --wait-ready --timeout 600
          sudo microk8s addons repo remove core
          sudo microk8s addons repo add core .
          export UNDER_TIME_PRESSURE="True"
          export SKIP_PROMETHEUS="False"
          sudo -E pytest -s -ra ./tests/test-addons.py
          sudo snap remove microk8s --purge
