name: Run tests

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  run-tests:
    name: Run tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        channel: [latest/edge, latest/edge/strict]

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          python3 -m venv venv
          source venv/bin/activate
          pip install --upgrade pip
          pip install -r tests/requirements.txt
      - name: Running addons tests
        run: |
          set -x
          sudo snap install microk8s --classic --channel=${{ matrix.channel }}
          sudo microk8s status --wait-ready --timeout 600
          sudo microk8s addons repo remove core
          sudo microk8s addons repo add core .

          # The GitHub runner is using the 10.1.0.0/16 CIDR, which would conflict with
          # kube-ovn's default POD_CIDR. They have to be different.
          export POD_CIDR="10.200.0.0/16"
          export POD_GATEWAY="10.200.0.1"
          export UNDER_TIME_PRESSURE="True"
          if [[ "${{ matrix.channel }}" == "latest/edge/strict" ]]
          then
            export STRICT="yes"
          fi
          export SKIP_PROMETHEUS="False"
          sudo -E venv/bin/pytest -v -s -ra ./tests/test-addons.py
          sudo snap remove microk8s --purge
